# 0. Importing data (DO NOT ALTER)

In [1]:
# Import pandas as pd
# Import numpy as np
import pandas as pd
import numpy as np

In [3]:
# Load the dataset
data = pd.read_csv('../Data/avocado.csv')

In [4]:
# Preview the data
data

,Date,AveragePrice,Total Volume,Small Hass Avocado,Large Hass Avocado,Extra Large Hass Avocado,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-01-04,1.75,27365.89,9307.34,3844.81,615.28,13598.46,13061.10,537.36,0.00,organic,2015,Southeast
1,2015-01-04,1.49,17723.17,1189.35,15628.27,0.00,905.55,905.55,0.00,0.00,organic,2015,Chicago
2,2015-01-04,1.68,2896.72,161.68,206.96,0.00,2528.08,2528.08,0.00,0.00,organic,2015,HarrisburgScranton
3,2015-01-04,1.52,54956.80,3013.04,35456.88,1561.70,14925.18,11264.80,3660.38,0.00,conventional,2015,Pittsburgh
4,2015-01-04,1.64,1505.12,1.27,1129.50,0.00,374.35,186.67,187.68,0.00,organic,2015,Boise
5,2015-01-04,0.75,758118.95,426878.87,147958.43,15267.89,168013.76,165202.22,2811.54,0.00,conventional,2015,WestTexNewMexico
6,2015-01-04,0.85,2682159.95,1837999.65,524430.47,64225.78,255504.05,215571.80,36981.72,2950.53,conventional,2015,LosAngeles
7,2015-01-04,1.50,6329.83,3730.80,2141.91,0.00,457.12,426.67,30.45,0.00,organic,2015,LasVegas
8,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.00,conventional,2015,Atlanta
9,2015-01-04,0.80,317861.35,134003.07,120628.37,4591.23,58638.68,58126.59,512.09,0.00,conventional,2015,LasVegas
10,2015-01-04,0.74,1086363.97,612795.80,374420.68,9817.28,89330.21,54563.33,34760.08,6.80,conventional,2015,DallasFtWorth
11,2015-01-04,1.82,2288.44,1438.04,53.73,0.00,796.67,796.67,0.00,0.00,organic,2015,MiamiFtLauderdale
12,2015-01-04,1.01,1683795.30,1027842.30,466641.12,10476.89,178834.99,177360.20,440.57,1034.22,conventional,2015,Plains
13,2015-01-04,1.80,3597.07,1552.48,1521.26,0.00,523.33,523.33,0.00,0.00,organic,2015,StLouis
14,2015-01-04,1.81,1339.36,754.00,124.33,0.00,461.03,447.01,14.02,0.00,organic,2015,Pittsburgh
15,2015-01-04,1.15,198735.26,125713.89,34555.73,53.54,38412.10,38400.99,11.11,0.00,conventional,2015,StLouis
16,2015-01-04,1.72,593.39,0.00,102.71,0.00,490.68,490.68,0.00,0.00,organic,2015,Syracuse
17,2015-01-04,1.56,58065.35,10049.66,25228.37,3672.89,19114.43,17280.89,1833.54,0.00,organic,2015,Midsouth
18,2015-01-04,1.05,430138.88,110693.69,270107.61,9737.50,39600.08,39600.08,0.00,0.00,conventional,2015,Sacramento
19,2015-01-04,1.02,491738.00,7193.87,396752.18,128.82,87663.13,87406.84,256.29,0.00,conventional,2015,Boston
20,2015-01-04,1.19,166006.29,29419.03,47220.75,38568.95,50797.56,44329.03,6468.53,0.00,conventional,2015,Charlotte
21,2015-01-04,1.00,84612.39,26607.29,44341.92,3660.64,10002.54,9556.06,446.48,0.00,conventional,2015,Spokane
22,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.00,organic,2015,Albany
23,2015-01-04,1.22,8938.32,7009.77,671.88,0.00,1256.67,1256.67,0.00,0.00,organic,2015,Houston
24,2015-01-04,1.01,309024.22,180977.06,46253.49,12923.45,68870.22,52556.00,16314.22,0.00,conventional,2015,SouthCarolina
25,2015-01-04,0.99,907795.89,179507.69,637000.10,8803.79,82484.31,82033.71,444.44,6.16,conventional,2015,SanFrancisco
26,2015-01-04,0.95,31324277.73,12357161.34,13624083.05,844093.32,4498940.02,3585321.58,894945.63,18672.81,conventional,2015,TotalUS
27,2015-01-04,1.20,221086.46,53316.16,72178.46,39928.01,55663.83,44040.64,11623.19,0.00,conventional,2015,RaleighGreensboro
28,2015-01-04,1.73,379.82,0.00,59.82,0.00,320.00,320.00,0.00,0.00,organic,2015,BuffaloRochester
29,2015-01-04,1.05,321823.77,4966.76,264351.96,14.68,52490.37,52490.37,0.00,0.00,conventional,2015,NorthernNewEngland
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18219,2018-03-25,1.31,36999.72,8247.81,67.33,0.00,28684.58,28094.58,590.00,0.00,organic,2018,Houston
18220,2018-03-25,0.96,264778.18,77671.02,21732.24,3272.61,162102.31,133163.77,28160.04,778.50,conventional,2018,Columbus
18221,2018-03-25,1.66,31275.39,1746.29,8110.67,0.00,21418.43,1712.10,19700.47,5.86,organic,2018,Portland
18222,2018-03-25,1.82,8210.37,1426.49,2452.50,0.00,4331.38,3427.78,903.60,0.00,organic,2018,StLouis
18223,2018-03-25,1.30,183489.03,97376.71,9226.39,569.02,76316.91,41255.77,34987.81,73.33,conventional,2018,Jacksonville
18224,2018-03-25,1.28,132097.87,44126.21,13225.39,1385.77,73360.50,39142.16,34191.67,26.67,conventional,2018,Pittsburgh
18225,2018-03-25,1.77,12030.96,17.85,5964.29,161.23,5887.59,5792.37,95.22,0.00,organic,2018,Charlotte
18226,2018-03-25,0.59,1684537.69,932956.86,296968.67,14886.96,439725.20,216076.58,218329.73,5318.89,conventional,2018,PhoenixTucson
18227,2018-03-25,1.40,524265.69,103573.88,149867.07,998.53,269826.21,155866.80,113666.70,292.71,conventional,2018,Seattle
18228,2018-03-25,1.86,118503.55,12695.30,35094.50,205.59,70508.16,70377.52,130.64,0.00,organic,2018,NewYork
18229,2018-03-25,1.59,5750.56,266.92,1707.42,2.21,3774.01,638.89,3105.71,29.41,organic,2018,Spokane
18230,2018-03-25,2.02,13379.77,86.84,5923.16,98.37,7271.40,6881.80,389.60,0.00,organic,2018,RaleighGreensboro
18231,2018-03-25,1.28,9506.07,319.39,1427.13,0.00,7685.05,3437.74,4247.31,0.00,organic,2018,Indianapolis
18232,2018-03-25,1.23,986038.75,108250.52,591934.75,4205.03,281648.45,277508.08,2777.04,1363.33,conventional,2018,BaltimoreWashington
18233,2018-03-25,1.08,277267.97,70493.35,27183.18,9616.52,169974.92,140702.40,20939.89,8332.63,conventional,2018,CincinnatiDayton
18234,2018-03-25,1.01,382746.42,76054.73,122475.03,6496.13,177720.53,75499.86,101806.23,414.44,conventional,2018,LasVegas
18235,2018-03-25,1.31,503277.65,43421.10,252219.75,248.04,207388.76,187566.62,17687.70,2134.44,conventional,2018,Philadelphia
18236,2018-03-25,1.03,38203.98,241.71,425.31,0.00,37536.96,25743.24,11793.72,0.00,organic,2018,BuffaloRochester
18237,2018-03-25,1.36,8024.70,275.67,94.25,0.00,7654.78,7288.89,365.89,0.00,organic,2018,NewOrleansMobile
18238,2018-03-25,1.45,121917.39,1929.39,18391.86,110.05,101486.09,85313.41,16172.68,0.00,organic,2018,Southeast
18239,2018-03-25,1.39,641462.43,26019.52,479186.12,1883.17,134373.62,109938.39,22955.23,1480.00,conventional,2018,Boston
18240,2018-03-25,1.75,5518.73,171.22,806.65,3.93,4536.93,2944.89,1592.04,0.00,organic,2018,Jacksonville
18241,2018-03-25,1.42,17340.49,295.16,3478.97,81.25,13485.11,12149.49,1335.62,0.00,organic,2018,RichmondNorfolk
18242,2018-03-25,1.32,429132.50,258217.83,25970.97,1426.07,143517.63,90870.28,52357.35,290.00,conventional,2018,Orlando
18243,2018-03-25,1.74,38441.23,27.25,2031.54,0.00,36382.44,29466.95,6915.49,0.00,organic,2018,Boston
18244,2018-03-25,1.36,908202.13,142681.06,463136.28,174975.75,127409.04,103579.41,22467.04,1362.59,conventional,2018,Chicago
18245,2018-03-25,0.70,9010588.32,3999735.71,966589.50,30130.82,4014132.29,3398569.92,546409.74,69152.63,conventional,2018,SouthCentral
18246,2018-03-25,1.42,163496.70,29253.30,5080.04,0.00,129163.36,109052.26,20111.10,0.00,organic,2018,SouthCentral
18247,2018-03-25,1.70,190257.38,29644.09,70982.10,0.00,89631.19,89424.11,207.08,0.00,organic,2018,California
18248,2018-03-25,1.34,1774776.77,63905.98,908653.71,843.45,801373.63,774634.09,23833.93,2905.61,conventional,2018,NewYork

# 1. 1-D aggregations on Pandas Series

Let's recall computing aggregations such as `sum()`, `mean()`, `median()`, `max()` and `min()` using Pandas Series.

In [4]:
# Create Pandas Series using values: [8.45, 3.15, 1.25, 10.55, 2.40]

our_series = pd.Series([8.45, 3.15, 1.25, 10.55, 2.40])

In [10]:
# TASK 1 >>>> Print computing aggregations (returns error if not filled)

print(f'The rounded count of the values is: {our_series.sum().round()}')
print(f'The average value is: {our_series.mean()}')
print(f'The median value is: {our_series.median()}')
print(f'The maximum value is: {our_series.max()}')
print(f'The minimum value is: {our_series.min()}')

The rounded count of the values is: 26.0
The average value is: 5.159999999999999
The median value is: 3.15
The maximum value is: 10.55
The minimum value is: 1.25

# 2. 2-D aggregations on Pandas DataFrame

To understand the true power of `groupby()` we can take a look on what it's going on under the hood.  
Let's say we want to compute average price of avocados based on their type: conventional and organic. 

Firstly, we have to split our dataset into 2 different groups based on the type:

In [11]:
# Filter only those records that are organic type and assign it to variable filter_o
filter_o = data['type'] == 'organic'

In [12]:
# Use .loc[] on data which access all columns based on our condition filter_o and assign it to variable data_organic
data_organic = data.loc[filter_o]
data_organic

,Date,AveragePrice,Total Volume,Small Hass Avocado,Large Hass Avocado,Extra Large Hass Avocado,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-01-04,1.75,27365.89,9307.34,3844.81,615.28,13598.46,13061.10,537.36,0.0,organic,2015,Southeast
1,2015-01-04,1.49,17723.17,1189.35,15628.27,0.00,905.55,905.55,0.00,0.0,organic,2015,Chicago
2,2015-01-04,1.68,2896.72,161.68,206.96,0.00,2528.08,2528.08,0.00,0.0,organic,2015,HarrisburgScranton
4,2015-01-04,1.64,1505.12,1.27,1129.50,0.00,374.35,186.67,187.68,0.0,organic,2015,Boise
7,2015-01-04,1.50,6329.83,3730.80,2141.91,0.00,457.12,426.67,30.45,0.0,organic,2015,LasVegas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18240,2018-03-25,1.75,5518.73,171.22,806.65,3.93,4536.93,2944.89,1592.04,0.0,organic,2018,Jacksonville
18241,2018-03-25,1.42,17340.49,295.16,3478.97,81.25,13485.11,12149.49,1335.62,0.0,organic,2018,RichmondNorfolk
18243,2018-03-25,1.74,38441.23,27.25,2031.54,0.00,36382.44,29466.95,6915.49,0.0,organic,2018,Boston
18246,2018-03-25,1.42,163496.70,29253.30,5080.04,0.00,129163.36,109052.26,20111.10,0.0,organic,2018,SouthCentral
18247,2018-03-25,1.70,190257.38,29644.09,70982.10,0.00,89631.19,89424.11,207.08,0.0,organic,2018,California

Look that only organic type remain.

In [13]:
# TASK 2 >>>> Filter only those records that are conventional type and assign it to variable filter_c
filter_c = data['type'] == 'conventional'

In [14]:
# TASK 2 >>>> Use .loc[] on data which access all columns based on our condition filter_c and assign it to variable data_conventional
data_conventional = data.loc[filter_c]
data_conventional

,Date,AveragePrice,Total Volume,Small Hass Avocado,Large Hass Avocado,Extra Large Hass Avocado,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
3,2015-01-04,1.52,54956.80,3013.04,35456.88,1561.70,14925.18,11264.80,3660.38,0.00,conventional,2015,Pittsburgh
5,2015-01-04,0.75,758118.95,426878.87,147958.43,15267.89,168013.76,165202.22,2811.54,0.00,conventional,2015,WestTexNewMexico
6,2015-01-04,0.85,2682159.95,1837999.65,524430.47,64225.78,255504.05,215571.80,36981.72,2950.53,conventional,2015,LosAngeles
8,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.00,conventional,2015,Atlanta
9,2015-01-04,0.80,317861.35,134003.07,120628.37,4591.23,58638.68,58126.59,512.09,0.00,conventional,2015,LasVegas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18239,2018-03-25,1.39,641462.43,26019.52,479186.12,1883.17,134373.62,109938.39,22955.23,1480.00,conventional,2018,Boston
18242,2018-03-25,1.32,429132.50,258217.83,25970.97,1426.07,143517.63,90870.28,52357.35,290.00,conventional,2018,Orlando
18244,2018-03-25,1.36,908202.13,142681.06,463136.28,174975.75,127409.04,103579.41,22467.04,1362.59,conventional,2018,Chicago
18245,2018-03-25,0.70,9010588.32,3999735.71,966589.50,30130.82,4014132.29,3398569.92,546409.74,69152.63,conventional,2018,SouthCentral
18248,2018-03-25,1.34,1774776.77,63905.98,908653.71,843.45,801373.63,774634.09,23833.93,2905.61,conventional,2018,NewYork

Now compute average price for both type of avocados using `.mean()` function applied on the column `AveragePrice`.

In [15]:
# Compute average price for filtered organic avocados and assign it to variable avg_organic
avg_organic = data_organic['AveragePrice'].mean()

In [16]:
# TASK 3 >>>> Compute average price for filtered conventional avocados and assign it to variable avg_conventional
avg_conventional = data_conventional['AveragePrice'].mean()

In [17]:
# Print the outputs and the type of the outputs
print(avg_organic, avg_conventional)
print('\n')
print(type(avg_organic), type(avg_conventional))

1.6539986846432093 1.1580396668858206


<class 'numpy.float64'> <class 'numpy.float64'>

Lastly, combine these results into data structure using `Pandas`  `.DataFrame()`. Create a dictionary, where the first key name will be 'Type' and its values 'organic', 'conventional'. The second key name will be 'Average_price' and its values will be our created avg_organic and avg_conventional, respectively.

In [18]:
# Combine these results into the DataFrame
data_output = pd.DataFrame({'Type':['organic','conventional'], 
                            'Average_price':[avg_organic, avg_conventional]})

In [19]:
# Print resulting DataFrame
print('\nResult dataframe :\n',data_output)

Result dataframe :
            Type  Average_price
0       organic       1.653999
1  conventional       1.158040

However, we can use `groupby()` to achieve the same result with only 1 line of the code!

# 3. 2-D aggregations on Pandas DataFrame (KEY LEARNING)

 `groupby()` function allows us to quickly and efficiently split the data into separate groups to perform computations. When we pass the desired column or columns within `groupby()`, it will return `DataFrameGroupBy object`. We can think of it as a special view of our DataFrame. No computation will be done until we specify the functions such as `mean()`, `sum()` etc.

In [22]:
# Group the data based on the column 'year'
data.groupby('year')

Now we compute the average price for organic and conventional type of the avocados again, but we'll make use of `groupby()`.

In [23]:
# Group the data based on Avocado type
# Compute average price using .mean()

by_type_total = data.groupby('type')['AveragePrice'].mean()
print(by_type_total)

type
conventional    1.158040
organic         1.653999
Name: AveragePrice, dtype: float64

In [24]:
# Group the data based on 2 columns passed into the list: columns 'type' and 'region' and compute the average price

by_type_year = data.groupby(['type','year'])['AveragePrice'].mean()
print(by_type_year)

type          year
conventional  2015    1.077963
              2016    1.105595
              2017    1.294888
              2018    1.127886
organic       2015    1.673324
              2016    1.571684
              2017    1.735521
              2018    1.567176
Name: AveragePrice, dtype: float64

In [26]:
# TASK 4 >>>> Group the data based on 3 columns passed into the list: columns 'type', 'year', 'region' and compute 
# how many Kg of Large Hass Avocados have been sold in total. Assign it to variable by_year

by_year = data.groupby(['type','year', 'region'])['Large Hass Avocado'].sum()
print(by_year)

type          year  region
conventional  2015  Albany                  3211741.19
                    Atlanta                 1840105.14
                    BaltimoreWashington    25345911.00
                    Boise                    528537.73
                    Boston                 21314866.70
                                              ...
organic       2018  Syracuse                   1212.50
                    Tampa                      7320.94
                    TotalUS                 4325043.54
                    West                     638653.03
                    WestTexNewMexico          27301.02
Name: Large Hass Avocado, Length: 432, dtype: float64

When we are using the `.groupby()`, the resulting object will be slightly different from standard Pandas dataframe. You can see it in the print statement and how the "type" and "year" are nicely printed. 

If we would like to operate with resulted object further, we should reset its row index by using reset_index() and convert into a regular dataframe.

In [27]:
# Reset the index using .reset_index() method and create a DataFrame
our_df = pd.DataFrame(by_year).reset_index()
print(our_df)

             type  year               region  Large Hass Avocado
0    conventional  2015               Albany          3211741.19
1    conventional  2015              Atlanta          1840105.14
2    conventional  2015  BaltimoreWashington         25345911.00
3    conventional  2015                Boise           528537.73
4    conventional  2015               Boston         21314866.70
..            ...   ...                  ...                 ...
427       organic  2018             Syracuse             1212.50
428       organic  2018                Tampa             7320.94
429       organic  2018              TotalUS          4325043.54
430       organic  2018                 West           638653.03
431       organic  2018     WestTexNewMexico            27301.02

[432 rows x 4 columns]

# 4. Aggregate function (ADVANCED)

![](https://keytodatascience.com/wp-content/uploads/2020/04/image-1.png)

[image source](https://keytodatascience.com/groupby-pandas-python/)

`agg()` 

- it is an alias for aggregate
- it is used to pass a function or list of function to be applied on a series or even each element of series separately

This can be done by passing the columns and functions within a dictionary like this:

`our_dataset.agg({'First_column' : ['max', 'min'], 'Second_column' : ['mean', 'median']})`

In [28]:
# Compute maximum and minimum values for column 'Total Volume' and minimum and mean values for column 'Small Bags' using .agg()
data.agg({'Total Volume' : ['max', 'min'], 'Small Bags' : ['min', 'mean']})

      Total Volume     Small Bags
max    62505646.52            NaN
mean           NaN  182194.686696
min          84.56       0.000000

We can pass `.agg()` also to our grouped object and compute statistics for selected column.

In [29]:
# Group the data based on 2 columns: 'region' and 'type'
# Compute aggregations 'min','max' and 'mean' for 'AveragePrice'
grouped = data.groupby(['region','type']).agg({'AveragePrice':['min','max','mean']})

In [30]:
grouped

                                 AveragePrice
                                          min   max      mean
region              type
Albany              conventional         0.85  1.80  1.348757
                    organic              1.32  2.13  1.773314
Atlanta             conventional         0.68  1.64  1.068817
                    organic              0.62  2.75  1.607101
BaltimoreWashington conventional         0.95  1.86  1.344201
...                                       ...   ...       ...
TotalUS             organic              1.00  2.09  1.546036
West                conventional         0.66  1.62  0.985089
                    organic              0.90  2.52  1.559349
WestTexNewMexico    conventional         0.52  1.22  0.842130
                    organic              1.04  2.93  1.688855

[108 rows x 3 columns]

- within `agg()` we can have our custom function along with computing aggregation

In [32]:
# Write a function to compute 95th percentile on desired column using .quantile(0.95)
def percentile_95(column):
    return column.quantile(0.95)

In [33]:
# TASK 5 - HARD >>>> Get 95th percentile and mean values for columns: 'Small Bags','Large Bags','XLarge Bags' from DataFrame data, using .agg()

data[['Small Bags','Large Bags','XLarge Bags']].agg([percentile_95, 'mean'])

                  Small Bags     Large Bags   XLarge Bags
percentile_95  768147.228000  195699.768000  12058.452000
mean           182194.686696   54338.088145   3106.426507

# 5. Bonus Task (HARD)

`groupby()` can be useful when we want to look at the proportion of avocado's type. We would like to see what percentage of conventional and organic avocados has been sold. For example: 97 % and 3%.

To reach this result:
- Group the data by 'type' and obtain sums on 'Total Volume' column, assign result to volume_by_type
- Divide the volume_by_type by the sum of all avocados. Assign the result to variable proportion.
- Print the proportion and optionally multiply by 100 to obtian a figure in percentage

In [34]:
# TASK 6 >>>> Group data based on their types and compute count of the Total Volume 

volume_by_type = data.groupby('type')['Total Volume'].sum()

In [35]:
# TASK 6 >>>> Compute the proportion of the avocado's type

proportion = volume_by_type / sum(volume_by_type)

In [36]:
# TASK 6 >>>> Print the output multiply by 100

print(proportion*100)

type
conventional    97.190167
organic          2.809833
Name: Total Volume, dtype: float64

# 6. Appendix

Data Source: https://www.kaggle.com/neuromusic/avocado-prices

License: Database: Open Database, Contents: © Original Authors

Material adapted for RBI internal purposes with full permissions from original authors. Source: https://github.com/zatkopatrik/authentic-data-science